.perks-container {
    display: flex;
    justify-content: space-between;
}

.perk-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns with equal width */
    gap: 20px; /* Gap between grid items */
}

.perk-item {
    text-align: center; /* Center the content within each grid item */

    /* Adjust the size of the perk items */
    max-width: 150px;
    max-height: 120px;

    /* Add margin to create spacing between perk items */
    margin-right: 10px;
    margin-bottom: 30px;

}

.perk-item img {
    width: 70px; /* Set the desired width */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
}

.selected-perks {
    position: fixed;
    top: 0; /* stick to the top of the screen */
    right: 0; /* stick to the right side of the screen */
    width: 250px; /* adjust the width of the sticky box */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

li img {
    width: 70px; /* Set the desired width */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
}
